@import 'tailwindcss';

body {
    background-color: black;
}

.element {
    padding-left: 1rem;  /* px-2 = 8px */
    padding-right: 1rem;
  }
  
  @media (min-width: 640px) { /* sm */
    .element {
      padding-left: 2rem;  /* sm:px-6 = 24px */
      padding-right: 2rem;
    }
  }
  
  @media (min-width: 1024px) { /* lg */
    .element {
      padding-left: 3rem;  /* lg:px-8 = 32px */
      padding-right: 3rem;
    }
  }

.scrollbar-top-wrapper {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    transform: rotateX(180deg);
    scrollbar-width: thin;
    scrollbar-color: #747474 #000000;
}

.chart-container {
    display: inline-block;
    transform: rotateX(180deg);
}

canvas {
    min-width: 1600px;
}